/*********General*********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.justifyContentC {
    justify-content: center;
}

.justifyContentSA {
    justify-content: space-around;
}

.justifyContentSB {
    justify-content: space-between;
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alignItemsC {
    align-items: center;
}

.gap1 {
    gap: 1rem;
}

button {
    background-color: #080b12;
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 10px;
    margin-right: 1.5rem;
    cursor: pointer;
}

ul {
    list-style: none;
}

.textAlignC {
    text-align: center;
}

/********Hover********/
.navBar {
    display: none;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #adff2f;
    height: 2px;
    border-radius: 1px;
}

.menuNav:hover {
    color: white;
    cursor: pointer;
}

.menuNav:hover .navBar {
    display: block;
}

.hover:hover {
    color: white;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
}

.card:hover .copertina > img {
    filter: brightness(0.5);
}

.card:hover .copertina > i {
    display: block;
}

.barTime:hover .barTime2 {
    background-color: #adff2f;
}

.barTime:hover .levelTime {
    display: block;
    cursor: pointer;
}

.barVol:hover .barVol2 {
    background-color: #adff2f;
}

.barVol:hover .levelSound {
    display: block;
    cursor: pointer;
}

/*******Main*********/

/******Menu********/
.menu {
    background-color: black;
    color: gray;
    padding-left: 1rem;
    height: calc(100vh - 90px);
    font-size: 10px;
    width: 220px;
    font-size: 15px;
    padding-left: 1rem;
}

.utilities {
    background-color: #141922;
    color: gray;
    width: calc(100% - 220px);
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.all {
    padding-bottom: 3rem;
    padding-left: 1rem;
}

.playlist {
    height: 100%;
    overflow-y: auto;
}

.playlist > h5 {
    color: white;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

li {
    margin-top: 0.5rem;
}

.crea {
    width: 1rem;
    aspect-ratio: 1;
    background-color: gray;
    color: black;
    margin-right: 0.5rem;
}

.crea > p {
    line-height: 1rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

img ~ p {
    margin-left: 1rem;
}

.logoXs {
    display: none;
}

img[alt=Simbolo] {
    width: 1rem;
}

.account {
    margin-top: auto;
}

.profilo {
    background-color: gray;
    border-radius: 50%;
}
/*********Layout Xs********/
@media  screen and (max-width: 550px) {
    .logoXs {
        display: block;
        max-width: 50%;
        margin-left: 0.75rem;
        margin-bottom: 0.25rem;
    }
    img[alt=Simbolo] {
        width: 1.5rem;
        margin: 0.25rem 0.75rem;
    }
    .logo {
        margin: 0;
    }
    .menu {
        width: 3rem;
        padding: 0;
    }
    .utilities {
        width: calc(100% - 3rem);
    }
    .none {
        display: none;
    }
}

/*****Utilities********/
.upgrade {
    text-align: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 220px);
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 999;
}

nav {
    margin-top: 5rem;
    font-size: 10px;
    font-weight: 700;
    gap: 1rem;
}

.menuNav {
    width: calc(100% / 3 - 1rem);
}

h2 {
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card {
    width: calc(100% / 2 - 1rem);
    text-align: center;
}

.card > h3 {
    color: white;
    font-size: 16px;
}

.copertina {
    width: 100%;
}

.copertina > img {
    width: 100%;
}

.copertina > i {
    color: white;
    font-size: 40px;
    display: none;
}

.all  h5 {
    margin-bottom: 2rem;
}

.rotonda {
    border-radius: 50%;
}

/*********Layout Xs********/
@media  screen and (max-width: 550px) {
    .menuNav {
        width: calc(100% / 4 - 1rem);
    } 
    .upgrade {
        width: calc(100% - 3rem);
    }
}

/*****Layout Tablet******/
@media screen and (min-width: 780px) {
    .card {
        width: calc(100% / 4 - 1rem);
    }
    .menuNav {
        width: calc(100% / 5 - 1rem);
    }
    .upgrade {
        width: calc(100vw - 220px);
    }
}

/*****Layout Desktop******/
@media screen and (min-width: 1180px) {
    .card {
        width: calc(100% / 6 - 1rem);
    }
    .menuNav {
        width: calc(100% / 11);
    }
}

/*****Footer*******/
footer {
    background-color: #282828;
    color: white;
    height: 90px;
    width: 100vw;
    max-width: 100%;
    z-index: 100;
}

.square {
    height: 90px;
}

.canzoneRiproduzione {
    width: 40%;
}

.canzoneRiproduzione > img {
    width: 100%;
    padding: 0.5rem;
    max-width: 5rem;
    min-width: 2rem;
}

.nomeBranoRiproduzione {
    width: 50%;
}

.nomeBranoRiproduzione > h2 {
    font-size: 14px;
    margin: 0;
}

.nomeBranoRiproduzione > small {
    color: gray;
    font-size: 10px;
    margin: 0;
}

.preferiti {
    width: 10%;
    color: gray;
}

.controlliUI > i {
    margin: 1rem;
}

.time {
    width: 100%;
}

.time > h5 {
    font-size: 9px;
    margin: 0.5rem;
}

.barTime {
    width: 75%;
    max-width: 33rem;
    height: 5px;
    border-radius: 5px;
    background-color: gray;
}

.barTime2 {
    width: 20%;
    height: 5px;
    border-radius: 5px;
    background-color: lightgray;
}

.levelTime {
    display: none;
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.audio > i {
    font-size: 14px;
    margin: 0.1rem;
}

.barVol {
    width: 3rem;
    max-width: 9rem;
    height: 5px;
    border-radius: 5px;
    background-color: gray;
    margin-right: 0.5rem;
}

.barVol2 {
    width: 0.5rem;
    height: 5px;
    border-radius: 5px;
    background-color: lightgray;
}

.levelSound {
    display: none;
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

/********Layout Xs***********/
@media  screen and (max-width: 550px) {
    .controlliUI > i {
        margin: 0.5rem;
    }
    .barVol {
        width: 2rem;
    }
    .barVol2 {
        width: 0.5rem;
    }
}

/*****Layout Tablet******/
@media screen and (min-width: 780px) {
    .controlliUI > i {
        margin: 1rem 2rem;
        font-size: 20px;
    }
    .barVol {
        width: 5rem;
    }
    .barVol2 {
        width: 2remrem;
    }
    .audio > i {
        margin: 0.5rem;
    }
}