/*********General*********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.justifyContentC {
    justify-content: center;
}

.justifyContentSA {
    justify-content: space-around;
}

.alignItemsC {
    align-items: center;
}


button {
    background-color: #080b12;
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 10px;
}

ul {
    list-style: none;
}

.textAlignC {
    text-align: center;
}
/*******Main*********/

/******Menu********/
.menu {
    background-color: black;
    color: gray;
    padding-left: 1rem;
    height: calc(100vh - 90px);
    font-size: 10px;
    width: calc(100% / 3);
}

.utilities {
    background-color: #080b12;
    color: gray;
    width: calc((100% / 3) * 2);
    height: calc(100vh - 90px);
}

.playlist {
    height: 100%;
}

.playlist > h5 {
    color: white;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

li {
    margin-top: 0.5rem;
}

.crea {
    width: 1rem;
    aspect-ratio: 1;
    background-color: gray;
    color: black;
    margin-right: 0.5rem;
}

.crea > p {
    line-height: 1rem;
}

.logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.logoXs {
    display: none;
}

img[alt=Simbolo] {
    width: 1rem;
}

.account {
    margin-top: auto;
}
/*********Layout Xs********/
@media  screen and (max-width: 550px) {
    .logoXs {
        display: block;
        max-width: 100%;
    }
    .logo {
        margin-right: 1rem;
    }
    .menu {
        width: 10%;
    }
    .utilities {
        width: 90%;
    }
    .none {
        display: none;
    }
}

/******Desktop*******/
@media  screen and (min-width: 780px) {
    .menu {
        max-width: 220px;
    }
    .utilities {
        width: calc(100vw - 220px);
    }
}

/*****Utilities********/
.upgrade {
    text-align: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    width: calc((100% / 3) * 2);
}

nav {
    margin-top: 62px;
    font-size: 10px;
    font-weight: 700;
    gap: 1rem;
}

.menuNav {
    width: calc(100% / 3 - 1rem);
}

.all {
    overflow-y: auto;
}

h2 {
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.played {
    gap: 1rem;
}

.card {
    width: calc(100% / 2 - 1rem);
    text-align: center;
}

.card > h3 {
    color: white;
    font-size: 16px;
}

.copertina {
    width: 100%;
}

.copertina > img {
    width: 100%;
}

/*****Footer*******/
footer {
    background-color: #282828;
    color: white;
    height: 90px;
    width: 100vw;
    max-width: 100%;
    z-index: 100;
}